{% extends 'dex/base.html.twig' %}

{% block jumbotron %}
    <h1 class="padding handwriting">PotterDex</h1>

    <p>Because classification is not only for Pokémon.</p>
{% endblock %}

{% block body %}
    <input id="searchbar" name="search-character" autofocus placeholder="Harry Potter" />

    <div class="characters">
        {% for character in characters %}
            <a href="{{ path('dex_details', {'id': character.id}) }}" target="_blank">
                <div class="character-item" id="character-{{ character.id }}">
                    <div class="character-picture"><div style="background-image: url('{{ character.picture }}');"></div></div>
                    <div class="character-insight">
                        <p class="character-name badge badge-{% if character.house %}{{ character.house }}{% else %}None{% endif %}">
                            {{ character.firstName }} {{ character.lastName }}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="centered-container">
        <button id="see-more">See more</button>
    </div>
{% endblock %}